<div class="w-100 ">
    <div class="py-3 bg-light padding">
        <div class="row d-flex justify-content-between">
            <div class="col-2">
                <app-footer-item footerHeading="Learn" footerbody1="Library" footerbody2="Featured"
                    footerbody3="Explore" footerbody4="Learning Paths"></app-footer-item>
            </div>
            <div class=" col-2 ">
                <app-footer-item footerHeading="Join Us" footerbody1="Pricing" footerbody2="Login" footerbody3="Sign Up"
                    footerbody4="Payment"></app-footer-item>
            </div>
            <div class="col-2">
                <app-footer-item footerHeading="Community" footerbody1="Discussions" footerbody2="Ask Questions"
                    footerbody3="Student Profile" footerbody4="Instructor Profile"></app-footer-item>
            </div>
            <div class="col-5 text-end">
                <app-footer-last-item></app-footer-last-item>
            </div>
        </div>
    </div>
</div>
<div class="w-100 second-footer">
    <div class="padding py-4 d-flex justify-content-between align-items-center">
        <div class="row d-flex align-items-center justify-content-between">
            <div class="col-4">
                <app-footer-icons></app-footer-icons>
            </div>
            <div class="col-3">
                <select class="input" name="" id="">
                    <option>English</option>
                </select>
            </div>
        </div>
        <div class="text-end">
            <a class="text-decoration-underline link" href="">Terms</a>
            <a class="text-decoration-underline link mx-2" href="">Privacy</a>
            <a class="text-decoration-underline link" href="">policy</a>
            <p class="copy">Copyright @ 2019 all rights reserved</p>
        </div>

    </div>
</div>
<div class="w-100 third-footer ">
    <div class="px-2 ">
        <a href="" class="third-footer-select">Catalog <span><i class="fa-sharp fa-solid fa-chevron-up"></i></span></a>
        <a href="" class="third-footer-select mx-2">Instructor <span><i
                    class="fa-sharp fa-solid fa-chevron-up"></i></span></a>
        <a href="" class="third-footer-select ">Community <span><i
                    class="fa-sharp fa-solid fa-chevron-up"></i></span></a>
        <a href="" class="third-footer-select mx-2">Account <span><i
                    class="fa-sharp fa-solid fa-chevron-up"></i></span></a>
        <a href="" class="third-footer-select">Components <span><i
                    class="fa-sharp fa-solid fa-chevron-up"></i></span></a>
        <a href="" class="third-footer-select ms-2">Student <span><i
                    class="fa-sharp fa-solid fa-chevron-up"></i></span></a>
    </div>
</div>