<nav class="navbar  background-color">
    <div class="container-fluid margin ">
        <a class="navbar-brand d-flex align-items-center my-3" href="">
            <img src="assets/logo1.jpg" alt="Logo" width="100" height="100" class=" ">
            <div class="ms-3">
                <p class="white fw-bold fs-3">{{name}}
                    <span>
                        <p class="smaller light fw-normal">Student &nbsp; <span><i
                                    class="fa-sharp fa-solid fa-brain"></i></span> 2,3100 IQ</p>
                    </span>
                </p>

            </div>
        </a>
        <form class="d-flex">
            <button class="btn btn-outline-light smaller" type="button">Edit account</button>
        </form>
    </div>
</nav>