<div class="hr-style"></div>
<div class="background-color w-100 py-3">

    <div class="d-flex justify-content-between margin small fw-bold">
        <div >
            <a  routerLink="dashboard" routerLinkActive="active">Dashboard</a>
            <a class=" mx-3" routerLink="courses" routerLinkActive="active">Courses</a>
            <a  routerLink="discussions" routerLinkActive="active">Discussions</a>
        </div>
        <div>
            <a  href="" >Profile</a>
        </div>
    </div>
</div>
