<div class="main-div px-5 py-3">
    <div class="d-flex justify-content-between align-items-start w-100">
        <div class="me-5">
            <div class="h1">Achievements</div>
            <div class="b1">June 5,2018</div>
        </div>
        <img class="img-1 ms-5" src="assets/angular.png" alt="">
    </div>
    <div class=" d-flex justify-content-start align-items-center mt-4">
        <img class="img-2" src="assets/prize.png" alt="">
        <div class="ms-5">
            <div class="h2">{{domain}}</div>
            <div class="b2">{{description}}</div>
        </div>
    </div>

</div>