select {
    border: none;
    color: gray;
    font-size: x-small;
}

.number {
    color: red;
    font-size: larger;
    font-weight: bolder;
}

.h1 {
    font-size: small;
}

.b1 {
    color: gray;
    font-size: x-small;
}

.image {
    width: 70%;
    height: 60%;
    margin: auto;
}

.height{
    height: 60%;
}